<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Visualizar Video</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>	
        <script src="/socket.io/socket.io.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBBboqOwLt3WKb7eod6a9MbVChHGF64Zs"></script>
	</head>

	<body>


		<div data-role="page" id="page1">
		    <div data-theme="a" data-role="header">
		        <a data-role="button" href="../index.html" class="ui-btn-left" data-ajax="false">
		            Home
		        </a>
		        <h3>
		            Visualizar Video
		        </h3>
		    </div>
		    <div data-role="content">
				<img src="" id="frame" style="width:660px; height:490px"/>
				<div id="logger"></div>
				<div id="map" style="width:680px;height:510px"></div>
		    </div>

		</div>



		<script type="text/javascript">
			var route = [];
			var markers = [];
			var img = document.getElementById("frame");
			var logger = document.getElementById('logger');
			var map = new google.maps.Map(document.getElementById("map"),
					{
						zoom: 17,
						mapTypeId: google.maps.MapTypeId.ROADMAP
					});




		    /* SOCKET.IO */

		    var socket = io.connect('http://192.168.0.108:5000');

		    socket.on('connect', function () {
		    	log('connected');
		    });

		    socket.on('disconnect', function () {
		    	log('disconnected');
		    });

		    socket.on('data', function(data) {
		    	img.src = data;
		    });

			socket.on('coords',function (data) {
				console.log('coords');
				console.log(data);
				for (var i = 0; i < markers.length; i++ ) {
					markers[i].setMap(null);
				}
				markers.length = 0;
				route.push(new google.maps.LatLng(data.latitude,data.longitude));
				console.log(route);
				map.setCenter(new google.maps.LatLng(data.latitude,data.longitude));
				var path = new google.maps.Polyline(
						{
							path: route,
							strokeColor: "#FF0000",
							strokeOpacity: 0.7,
							strokeWeight: 3
						});
				path.setMap(map);
				var marker=new google.maps.Marker({
					position:new google.maps.LatLng(data.latitude,data.longitude),
				});
				markers.push(marker);
				marker.setMap(map);
			})


		    /* END SOCKET.IO */

			function log(message) {
		       logger.innerHTML = logger.innerHTML + message + "<br/>";
		    };
			
		</script>	

	</body>
</html>