<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Emitir Video</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<link rel="stylesheet" href="//code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
		<script src="//code.jquery.com/jquery-1.8.2.min.js"></script>
		<script src="//code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
		<script src="../js/adapter.js"></script>
	</head>

	<body>


		<div data-role="page" id="page1">
		    <div data-theme="a" data-role="header">
		        <a data-role="button" href="../index.html" class="ui-btn-left" data-ajax="false">
		            Home
		        </a>
		        <h3>
		            Emitir Video
		        </h3>
		    </div>
			<div class="select">
				<label for="videoSource">Video source: </label><select id="videoSource"></select>
			</div>
		    <div data-role="content">
				<video id = "video" autoplay="true" style="width: 680px; heigth: 320px;"></video>
				<div id = "logger"></div>
		    </div>
		</div>


		<script type="text/javascript">


		    var video = document.getElementById('video');
		    var logger = document.getElementById('logger');
		    var canvas = document.createElement('canvas');
		    var context = canvas.getContext('2d');
			var videoSelect = document.querySelector('select#videoSource');
			var selectors = [videoSelect];
		    context.width = 680;
		    context.height = 510;

			function gotDevices(deviceInfos) {
				// Handles being called several times to update labels. Preserve values.
				var values = selectors.map(function (select) {
					return select.value;
				});
				selectors.forEach(function (select) {
					while (select.firstChild) {
						select.removeChild(select.firstChild);
					}
				});
				for (var i = 0; i !== deviceInfos.length; ++i) {
					var deviceInfo = deviceInfos[i];
					var option = document.createElement('option');
					option.value = deviceInfo.deviceId;
					if (deviceInfo.kind === 'videoinput') {
						option.text = deviceInfo.label || 'camera ' + (videoSelect.length + 1);
						videoSelect.appendChild(option);
					} else {
						console.log('Some other kind of source/device: ', deviceInfo);
					}
				}
				selectors.forEach(function(select, selectorIndex) {
					if (Array.prototype.slice.call(select.childNodes).some(function(n) {
								return n.value === values[selectorIndex];
							})) {
						select.value = values[selectorIndex];
					}
				});
			}

			navigator.mediaDevices.enumerateDevices().then(gotDevices).catch(handleError);

			function gotStream(stream) {
				window.stream = stream; // make stream available to console
				video.srcObject = stream;
				// Refresh button list in case labels have become available
				return navigator.mediaDevices.enumerateDevices();
			}

			function log(message) {
		       logger.innerHTML = logger.innerHTML + message + "<br/>";
		    };

			function start() {
				if (window.stream) {
					window.stream.getTracks().forEach(function(track) {
						track.stop();
					});
				}

				var videoSource = videoSelect.value;
				var constraints = {
					video: {deviceId: videoSource ? {exact: videoSource} : undefined}
				};
				navigator.mediaDevices.getUserMedia(constraints).
				then(gotStream).then(gotDevices).catch(handleError);
			}

			videoSelect.onchange = start;

			start();

			function handleError(error) {
				console.log('navigator.getUserMedia error: ', error);
			}



			/*navigator.getMedia = ( navigator.getUserMedia ||
			navigator.webkitGetUserMedia ||
			navigator.mozGetUserMedia ||
			navigator.msGetUserMedia);


			function successCallback(stream) {
				var video = document.querySelector('video');
				video.src = window.URL.createObjectURL(stream);
			}

			function errorCallback(error) {
				console.log('navigator.getUserMedia error: ', error);
			}

			function start() {
				if (window.stream) {
					video.src = null;
					window.stream.stop();
				}
				var videoSource = videoSelect.value;
				var constraints = {

					video: {
						optional: [{
							sourceId: videoSource
						}]
					}
				};
				navigator.getMedia(constraints, successCallback, errorCallback);
			}
			videoSelect.onchange = start;

			start();


			*/

		    /* SOCKET.IO */

		    var socket = io.connect('https://bip05.upc.es:5000');

			console.log("sockets")
		    socket.on('connect', function () {
				console.log("sockets2")
				log('connected');
		    });

		    socket.on('disconnect', function () {
		    	log('disconnected');
		    });

		    function emit(message) {
		    	socket.emit('data', message);
		    }

		    /* END SOCKET.IO */

		    function sendFrame(video, context) {
		        context.drawImage(video, 0, 5, 200, 200);
		        emit(canvas.toDataURL('image/webp'));
		    }

		    setInterval(function() { sendFrame(video, context); }, 100);


		</script>

	</body>

</html>